<% include ../layout/header.ejs%>
<table border="1">
    <thead>
    <tr align="center">
        <th>id</th>
        <th>productStartTime</th>
        <th>productEndTime</th>
        <th>productName</th>
        <th>productPrice</th>
        <th>providerId</th>
        <th>Page</th>
        <th>Thumbnail</th>
        <th>Image</th>
        <th>firstCategory</th>
        <th>secondCategory</th>
    </tr>
    </thead>
    <tbody>

    <% for(var i = 0; i < results.length; i++){ var data = results[i] %>

    <tr align="center">
        <td width="100"><%= data.id %></td>
        <td width="250"><%= data.productStartTime.toISOString() %></td>
        <td width="250"><%= data.productEndTime.toISOString() %></td>
        <td width="500"><%= data.productName %></td>
        <td><%= data.productPrice %></td>
        <td width="10"><%= data.providerId %></td>
        <td><a href=<%= data.productPgURL %>>Page</a></td>
        <td><a href=<%= data.productImgURL %>>Thumbnail</a></td>
        <% if(data.providerId == "NS"){ %>
        <td>NOTHING</td>
        <% } else { %>
        <% var go = '/admin/checkImg?id=' + data.id %>
        <td><a href=<%= go %>>Image</a></td>
        <% } %>

        <td width="10"><%= data.firstId %></td>
        <td width="10"><%= data.secondId %></td>

    </tr>
    <% } %>

    </tbody>
</table>
<% include ../layout/footer.ejs%>
